.flag{
	height:100%;
	width:30%;
      
}
.logo{
	height:100%;
	width:25%;
}
#the-slider img {
	width:100%;
}
.navbar {
	background-color: #193b60;
}
.navbar li a{
	color:white !important;
}
.navbar li a:hover {
	background-color:#b80707 !important;
}
.navbar-default .navbar-nav>.active>a{
	background-color: #b80707 !important;
}
.dropdown-menu{
	background-color: #193b60 !important;
}
.dropdown-menu li a{
	background-color:#193b60 ;
}
.dropdown-menu li a:hover{
	color:#193b60 !important;
}
.dropdown li a{
	background-color:#193b60 !important;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
}
header section footer aside nav article {
	display:block;
}
.container{
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
.content{
	background-color: #116cb3;
	color:white;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
.description h1{
	padding-top: 10px;
	padding-left: 20px;
}
.description p{
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: center;

}
.sidebar h1{
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
	background-color:#b80707;

}
.sidebar li {
	list-style-type: none;
	color:white;
	padding-left: 10px;
	padding-top: 8px;
	padding-right: 30px;
	padding-bottom: 8px;
}
.sidebar{
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color:#458cc4;
	width:30%;

}
.mainlink h1{
	text-align:center;
} 
.mainlink li{
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	list-style-type: none;
	color:white;
	display:inline-block;
	padding:40px;
}
.mainlink li a:hover{
	font-size:20px;
}
.thumbnail{
	
	color:#f57059;
	background-color: #ffffff;
}
.thumbnail:hover{
	border:0px solid white !important;
	color:#f57059 !important;
	text-decoration:none;

}
.thumbnail p{
	padding-left:30px;
	color:black;
}
.thumbnail h3{
	padding-left:30px;
}






footer {
  padding-top:20px;
  background-color: #2a2d34;
} 
footer h3{
	color:#ffffff !important;	
}
footer p	{
	color: #dfe0e3;
}
 footer a{
	color: #dfe0e3;
	display:inline-block;
}

.btn-warning{
	background-color: #f45a40;
}
.bottom{
	background-color: #24272e !important;
	color:white !important;

}
#wpfront-scroll-top-container {
    display: none;
    position: fixed;
    cursor: pointer;
    z-index: 9999;
}

	


